<div id="<%= dom_id arrivetab %>">
  <p>
    <strong>Anneech:</strong>
    <%= arrivetab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= arrivetab.datesch %>
  </p>

  <p>
    <strong>Numeroech:</strong>
    <%= arrivetab.numeroech %>
  </p>

  <p>
    <strong>Attributtab:</strong>
    <%= arrivetab.attributtab_id %>
  </p>

  <p>
    <strong>Referencech:</strong>
    <%= arrivetab.referencech %>
  </p>

  <p>
    <strong>Objetch:</strong>
    <%= arrivetab.objetch %>
  </p>

  <p>
    <strong>Correspondantch:</strong>
    <%= arrivetab.correspondantch %>
  </p>

  <p>
    <strong>Adressech:</strong>
    <%= arrivetab.adressech %>
  </p>

  <p>
    <strong>Supporttab:</strong>
    <%= arrivetab.supporttab_id %>
  </p>

  <p>
    <strong>Tch:</strong>
    <%= arrivetab.tch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= arrivetab.cch %>
  </p>

</div>
