<p style="color: green"><%= notice %></p>

<%= render @corpstab %>

<div>
  <%= link_to "Edit this corpstab", edit_corpstab_path(@corpstab) %> |
  <%= link_to "Back to corpstabs", corpstabs_path %>

  <%= button_to "Destroy this corpstab", @corpstab, method: :delete %>
</div>
