<div id="<%= dom_id dossiertab %>">
  <p>
    <strong>Anneech:</strong>
    <%= dossiertab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= dossiertab.datesch %>
  </p>

  <p>
    <strong>Referencech:</strong>
    <%= dossiertab.referencech %>
  </p>

  <p>
    <strong>Objetch:</strong>
    <%= dossiertab.objetch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= dossiertab.cch %>
  </p>

</div>
