<%= form_with(model: dossiertab) do |form| %>
  <% if dossiertab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dossiertab.errors.count, "error") %> prohibited this dossiertab from being saved:</h2>

      <ul>
        <% dossiertab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :anneech, style: "display: block" %>
    <%= form.text_field :anneech %>
  </div>

  <div>
    <%= form.label :datesch, style: "display: block" %>
    <%= form.date_field :datesch %>
  </div>

  <div>
    <%= form.label :referencech, style: "display: block" %>
    <%= form.text_field :referencech %>
  </div>

  <div>
    <%= form.label :objetch, style: "display: block" %>
    <%= form.text_field :objetch %>
  </div>

  <div>
    <%= form.label :cch, style: "display: block" %>
    <%= form.check_box :cch %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
