<%= form_with(model: genretab) do |form| %>
  <% if genretab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(genretab.errors.count, "error") %> prohibited this genretab from being saved:</h2>

      <ul>
        <% genretab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descriptionch, style: "display: block" %>
    <%= form.text_field :descriptionch %>
  </div>

  <div>
    <%= form.label :siglech, style: "display: block" %>
    <%= form.text_field :siglech %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
