<p style="color: green"><%= notice %></p>

<%= render @genretab %>

<div>
  <%= link_to "Edit this genretab", edit_genretab_path(@genretab) %> |
  <%= link_to "Back to genretabs", genretabs_path %>

  <%= button_to "Destroy this genretab", @genretab, method: :delete %>
</div>
