<div id="<%= dom_id autorisationpaiementhstab %>">
  <p>
    <strong>Anneech:</strong>
    <%= autorisationpaiementhstab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= autorisationpaiementhstab.datesch %>
  </p>

  <p>
    <strong>Numerooch:</strong>
    <%= autorisationpaiementhstab.numerooch %>
  </p>

  <p>
    <strong>Referencech:</strong>
    <%= autorisationpaiementhstab.referencech %>
  </p>

  <p>
    <strong>Descriptionch:</strong>
    <%= autorisationpaiementhstab.descriptionch %>
  </p>

  <p>
    <strong>Tauxhorairehstab:</strong>
    <%= autorisationpaiementhstab.tauxhorairehstab_id %>
  </p>

  <p>
    <strong>Structuretab:</strong>
    <%= autorisationpaiementhstab.structuretab_id %>
  </p>

  <p>
    <strong>Datevch:</strong>
    <%= autorisationpaiementhstab.datevch %>
  </p>

  <p>
    <strong>Vch:</strong>
    <%= autorisationpaiementhstab.vch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= autorisationpaiementhstab.cch %>
  </p>

</div>
