<%= form_with(model: autorisationpaiementhstab) do |form| %>
  <% if autorisationpaiementhstab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(autorisationpaiementhstab.errors.count, "error") %> prohibited this autorisationpaiementhstab from being saved:</h2>

      <ul>
        <% autorisationpaiementhstab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :anneech, style: "display: block" %>
    <%= form.text_field :anneech %>
  </div>

  <div>
    <%= form.label :datesch, style: "display: block" %>
    <%= form.date_field :datesch %>
  </div>

  <div>
    <%= form.label :numerooch, style: "display: block" %>
    <%= form.text_field :numerooch %>
  </div>

  <div>
    <%= form.label :referencech, style: "display: block" %>
    <%= form.text_field :referencech %>
  </div>

  <div>
    <%= form.label :descriptionch, style: "display: block" %>
    <%= form.text_field :descriptionch %>
  </div>

  <div>
    <%= form.label :tauxhorairehstab_id, style: "display: block" %>
    <%= form.text_field :tauxhorairehstab_id %>
  </div>

  <div>
    <%= form.label :structuretab_id, style: "display: block" %>
    <%= form.text_field :structuretab_id %>
  </div>

  <div>
    <%= form.label :datevch, style: "display: block" %>
    <%= form.date_field :datevch %>
  </div>

  <div>
    <%= form.label :vch, style: "display: block" %>
    <%= form.check_box :vch %>
  </div>

  <div>
    <%= form.label :cch, style: "display: block" %>
    <%= form.check_box :cch %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
