<p style="color: green"><%= notice %></p>

<%= render @autorisationpaiementhstab %>

<div>
  <%= link_to "Edit this autorisationpaiementhstab", edit_autorisationpaiementhstab_path(@autorisationpaiementhstab) %> |
  <%= link_to "Back to autorisationpaiementhstabs", autorisationpaiementhstabs_path %>

  <%= button_to "Destroy this autorisationpaiementhstab", @autorisationpaiementhstab, method: :delete %>
</div>
