<div id="<%= dom_id filetab %>">
  <p>
    <strong>Anneech:</strong>
    <%= filetab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= filetab.datesch %>
  </p>

  <p>
    <strong>Dossiertab:</strong>
    <%= filetab.dossiertab_id %>
  </p>

  <p>
    <strong>Descriptionch:</strong>
    <%= filetab.descriptionch %>
  </p>

  <p>
    <strong>Pdfch:</strong>
    <%= filetab.pdfch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= filetab.cch %>
  </p>

</div>
