<p style="color: green"><%= notice %></p>

<%= render @statuttab %>

<div>
  <%= link_to "Edit this statuttab", edit_statuttab_path(@statuttab) %> |
  <%= link_to "Back to statuttabs", statuttabs_path %>

  <%= button_to "Destroy this statuttab", @statuttab, method: :delete %>
</div>
