<div id="<%= dom_id servicetab %>">
  <p>
    <strong>Descriptionch:</strong>
    <%= servicetab.descriptionch %>
  </p>

  <p>
    <strong>Siglech:</strong>
    <%= servicetab.siglech %>
  </p>

  <p>
    <strong>Structuretab:</strong>
    <%= servicetab.structuretab_id %>
  </p>

  <p>
    <strong>Observationch:</strong>
    <%= servicetab.observationch %>
  </p>

</div>
