<div id="<%= dom_id transmissionarrivetab %>">
  <p>
    <strong>Anneech:</strong>
    <%= transmissionarrivetab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= transmissionarrivetab.datesch %>
  </p>

  <p>
    <strong>Numeroech:</strong>
    <%= transmissionarrivetab.numeroech %>
  </p>

  <p>
    <strong>Arrivetab:</strong>
    <%= transmissionarrivetab.arrivetab_id %>
  </p>

  <p>
    <strong>Expediteurtab:</strong>
    <%= transmissionarrivetab.expediteurtab_id %>
  </p>

  <p>
    <strong>Destinateurtab:</strong>
    <%= transmissionarrivetab.destinateurtab_id %>
  </p>

  <p>
    <strong>Notech:</strong>
    <%= transmissionarrivetab.notech %>
  </p>

  <p>
    <strong>Tch:</strong>
    <%= transmissionarrivetab.tch %>
  </p>

  <p>
    <strong>Daterch:</strong>
    <%= transmissionarrivetab.daterch %>
  </p>

  <p>
    <strong>Rch:</strong>
    <%= transmissionarrivetab.rch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= transmissionarrivetab.cch %>
  </p>

</div>
