<p style="color: green"><%= notice %></p>

<%= render @transmissionarrivetab %>

<div>
  <%= link_to "Edit this transmissionarrivetab", edit_transmissionarrivetab_path(@transmissionarrivetab) %> |
  <%= link_to "Back to transmissionarrivetabs", transmissionarrivetabs_path %>

  <%= button_to "Destroy this transmissionarrivetab", @transmissionarrivetab, method: :delete %>
</div>
