<div id="<%= dom_id transmissiondeparttab %>">
  <p>
    <strong>Anneech:</strong>
    <%= transmissiondeparttab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= transmissiondeparttab.datesch %>
  </p>

  <p>
    <strong>Numeroech:</strong>
    <%= transmissiondeparttab.numeroech %>
  </p>

  <p>
    <strong>Departtab:</strong>
    <%= transmissiondeparttab.departtab_id %>
  </p>

  <p>
    <strong>Expediteurtab:</strong>
    <%= transmissiondeparttab.expediteurtab_id %>
  </p>

  <p>
    <strong>Destinateurtab:</strong>
    <%= transmissiondeparttab.destinateurtab_id %>
  </p>

  <p>
    <strong>Notech:</strong>
    <%= transmissiondeparttab.notech %>
  </p>

  <p>
    <strong>Tch:</strong>
    <%= transmissiondeparttab.tch %>
  </p>

  <p>
    <strong>Daterch:</strong>
    <%= transmissiondeparttab.daterch %>
  </p>

  <p>
    <strong>Rch:</strong>
    <%= transmissiondeparttab.rch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= transmissiondeparttab.cch %>
  </p>

</div>
