<p style="color: green"><%= notice %></p>

<%= render @transmissiondeparttab %>

<div>
  <%= link_to "Edit this transmissiondeparttab", edit_transmissiondeparttab_path(@transmissiondeparttab) %> |
  <%= link_to "Back to transmissiondeparttabs", transmissiondeparttabs_path %>

  <%= button_to "Destroy this transmissiondeparttab", @transmissiondeparttab, method: :delete %>
</div>
