<div id="<%= dom_id etatpaiementhstab %>">
  <p>
    <strong>Anneech:</strong>
    <%= etatpaiementhstab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= etatpaiementhstab.datesch %>
  </p>

  <p>
    <strong>Numerooch:</strong>
    <%= etatpaiementhstab.numerooch %>
  </p>

  <p>
    <strong>Autorisationpaiementhstab:</strong>
    <%= etatpaiementhstab.autorisationpaiementhstab_id %>
  </p>

  <p>
    <strong>Descriptionch:</strong>
    <%= etatpaiementhstab.descriptionch %>
  </p>

  <p>
    <strong>Tauxhorairehstab:</strong>
    <%= etatpaiementhstab.tauxhorairehstab_id %>
  </p>

  <p>
    <strong>Structuretab:</strong>
    <%= etatpaiementhstab.structuretab_id %>
  </p>

  <p>
    <strong>Banquetab:</strong>
    <%= etatpaiementhstab.banquetab_id %>
  </p>

  <p>
    <strong>Datesgch:</strong>
    <%= etatpaiementhstab.datesgch %>
  </p>

  <p>
    <strong>Datevch:</strong>
    <%= etatpaiementhstab.datevch %>
  </p>

  <p>
    <strong>Vch:</strong>
    <%= etatpaiementhstab.vch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= etatpaiementhstab.cch %>
  </p>

</div>
