<p style="color: green"><%= notice %></p>

<%= render @etatpaiementhstab %>

<div>
  <%= link_to "Edit this etatpaiementhstab", edit_etatpaiementhstab_path(@etatpaiementhstab) %> |
  <%= link_to "Back to etatpaiementhstabs", etatpaiementhstabs_path %>

  <%= button_to "Destroy this etatpaiementhstab", @etatpaiementhstab, method: :delete %>
</div>
