<div id="<%= dom_id employetab %>">
  <p>
    <strong>Numeromclech:</strong>
    <%= employetab.numeromclech %>
  </p>

  <p>
    <strong>Prenomch:</strong>
    <%= employetab.prenomch %>
  </p>

  <p>
    <strong>Nomch:</strong>
    <%= employetab.nomch %>
  </p>

  <p>
    <strong>Genretab:</strong>
    <%= employetab.genretab_id %>
  </p>

  <p>
    <strong>Datench:</strong>
    <%= employetab.datench %>
  </p>

  <p>
    <strong>Etatciviltab:</strong>
    <%= employetab.etatciviltab_id %>
  </p>

  <p>
    <strong>Telephonech:</strong>
    <%= employetab.telephonech %>
  </p>

  <p>
    <strong>Adressech:</strong>
    <%= employetab.adressech %>
  </p>

  <p>
    <strong>Statuttab:</strong>
    <%= employetab.statuttab_id %>
  </p>

  <p>
    <strong>Cadretab:</strong>
    <%= employetab.cadretab_id %>
  </p>

  <p>
    <strong>Corpstab:</strong>
    <%= employetab.corpstab_id %>
  </p>

  <p>
    <strong>Structuretab:</strong>
    <%= employetab.structuretab_id %>
  </p>

  <p>
    <strong>Servicetab:</strong>
    <%= employetab.servicetab_id %>
  </p>

  <p>
    <strong>Banquetab:</strong>
    <%= employetab.banquetab_id %>
  </p>

  <p>
    <strong>Rch:</strong>
    <%= employetab.rch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= employetab.cch %>
  </p>

</div>
