<!-- begin container-fluid/main/banner titre and btn-group -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 text-secondary <%= @banner_item_1_visibility %>"><i class="bi <%= @banner_item_1_icon_1 %>"></i><%= @banner_item_1 %></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a type="button" class="btn btn-sm btn-outline-secondary me-1 <%= @banner_btn_1_visibility %>" href="<%= @banner_btn_1_link %>"><i class="bi <%= @banner_btn_1_icon_1 %> me-1"></i><%= @banner_btn_1 %></a>
      <a type="button" class="btn btn-sm btn-outline-secondary me-1 <%= @banner_btn_2_visibility %>" href="<%= @banner_btn_2_link %>"><i class="bi <%= @banner_btn_2_icon_1 %> me-1"></i><%= @banner_btn_2 %></a>
      <a type="button" class="btn btn-sm btn-outline-secondary me-1 <%= @banner_btn_3_visibility %>" href="<%= @banner_btn_3_link %>"><i class="bi <%= @banner_btn_3_icon_1 %> me-1"></i><%= @banner_btn_3 %></a>
      <a type="button" class="btn btn-sm btn-outline-secondary <%= @banner_btn_4_visibility %>" href="<%= @banner_btn_4_link %>"><i class="bi <%= @banner_btn_4_icon_1 %> me-1"></i><%= @banner_btn_4 %></a>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle <%= @banner_btn_5_visibility %>" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><span data-feather="calendar"></span><i class="bi <%= @banner_btn_5_icon_1 %> me-1"></i><%= @banner_btn_5 %></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item <%= @banner_btn_5_1_visibility %>" href="<%= @banner_btn_5_1_link %>"><i class="bi <%= @banner_btn_5_1_icon_1 %> me-1"></i><%= @banner_btn_5_1 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_2_visibility %>" href="<%= @banner_btn_5_2_link %>"><i class="bi <%= @banner_btn_5_2_icon_1 %> me-1"></i><%= @banner_btn_5_2 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_3_visibility %>" href="<%= @banner_btn_5_3_link %>"><i class="bi <%= @banner_btn_5_3_icon_1 %> me-1"></i><%= @banner_btn_5_3 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_4_visibility %>" href="<%= @banner_btn_5_4_link %>"><i class="bi <%= @banner_btn_5_4_icon_1 %> me-1"></i><%= @banner_btn_5_4 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_5_visibility %>" href="<%= @banner_btn_5_5_link %>"><i class="bi <%= @banner_btn_5_5_icon_1 %> me-1"></i><%= @banner_btn_5_5 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_6_visibility %>" href="<%= @banner_btn_5_6_link %>"><i class="bi <%= @banner_btn_5_6_icon_1 %> me-1"></i><%= @banner_btn_5_6 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_7_visibility %>" href="<%= @banner_btn_5_7_link %>"><i class="bi <%= @banner_btn_5_7_icon_1 %> me-1"></i><%= @banner_btn_5_7 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_8_visibility %>" href="<%= @banner_btn_5_8_link %>"><i class="bi <%= @banner_btn_5_8_icon_1 %> me-1"></i><%= @banner_btn_5_8 %></a></li>
      <li><a class="dropdown-item <%= @banner_btn_5_9_visibility %>" href="<%= @banner_btn_5_9_link %>"><i class="bi <%= @banner_btn_5_9_icon_1 %> me-1"></i><%= @banner_btn_5_9 %></a></li>
    </ul>
  </div>
</div>
<!-- end container-fluid/main/banner titre and btn-group -->
