<!--begin header   -->
<%= render partial: 'shared/common/common_header' %>
<!--end header   -->

<div class="container-fluid">
  <div class="row">
    <!--begin container-fluid/sidebarMenu   -->
    <%= render partial: 'shared/common/common_sidebar' %>
    <!--end container-fluid/sidebarMenu   -->
    <!--begin container-fluid/main   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-5">
      <!-- begin container-fluid/main/banner titre and btn-group -->
      <%= render partial: 'shared/common/common_banner' %>
      <!-- end container-fluid/main/banner titre and btn-group -->
      <!-- begin container-fluid/main/content page -->
      <div class="border-bottom">
        <h6 class="text-secondary">
          <a class="text-muted text-decoration-none" href="<%= root_path %>" aria-label="Add a new report"><i class="bi bi-stack me-1"></i>SIG-ADM</a>
          <span class="ps-1 pe-1">/</span>
          <a class="text-muted text-decoration-none" href="<%= root_path %>" aria-label="Add a new report"><i class="bi bi-house-fill me-1"></i>Accuiel</a>
        </h6>
      </div>

      <!-- ---------------- -->



      <!-- ---------------- -->

      <!-- end container-fluid/main/content page -->
    </main>
    <!--end container-fluid/main   -->
  </div>
</div>
