<p style="color: green"><%= notice %></p>

<%= render @typemouvementtab %>

<div>
  <%= link_to "Edit this typemouvementtab", edit_typemouvementtab_path(@typemouvementtab) %> |
  <%= link_to "Back to typemouvementtabs", typemouvementtabs_path %>

  <%= button_to "Destroy this typemouvementtab", @typemouvementtab, method: :delete %>
</div>
