<div id="<%= dom_id etatcontenuhstab %>">
  <p>
    <strong>Anneech:</strong>
    <%= etatcontenuhstab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= etatcontenuhstab.datesch %>
  </p>

  <p>
    <strong>Numerooch:</strong>
    <%= etatcontenuhstab.numerooch %>
  </p>

  <p>
    <strong>Autorisationpaiementhstab:</strong>
    <%= etatcontenuhstab.autorisationpaiementhstab_id %>
  </p>

  <p>
    <strong>Etatpaiementhstab:</strong>
    <%= etatcontenuhstab.etatpaiementhstab_id %>
  </p>

  <p>
    <strong>Employetab:</strong>
    <%= etatcontenuhstab.employetab_id %>
  </p>

  <p>
    <strong>Volumeheurech:</strong>
    <%= etatcontenuhstab.volumeheurech %>
  </p>

  <p>
    <strong>Tauxhorairehstab:</strong>
    <%= etatcontenuhstab.tauxhorairehstab_id %>
  </p>

  <p>
    <strong>Montantch:</strong>
    <%= etatcontenuhstab.montantch %>
  </p>

  <p>
    <strong>Comptebanquetab:</strong>
    <%= etatcontenuhstab.comptebanquetab_id %>
  </p>

  <p>
    <strong>Banquetab:</strong>
    <%= etatcontenuhstab.banquetab_id %>
  </p>

  <p>
    <strong>Structuretab:</strong>
    <%= etatcontenuhstab.structuretab_id %>
  </p>

  <p>
    <strong>Datevch:</strong>
    <%= etatcontenuhstab.datevch %>
  </p>

  <p>
    <strong>Vch:</strong>
    <%= etatcontenuhstab.vch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= etatcontenuhstab.cch %>
  </p>

</div>
