<p style="color: green"><%= notice %></p>

<%= render @etatcontenuhstab %>

<div>
  <%= link_to "Edit this etatcontenuhstab", edit_etatcontenuhstab_path(@etatcontenuhstab) %> |
  <%= link_to "Back to etatcontenuhstabs", etatcontenuhstabs_path %>

  <%= button_to "Destroy this etatcontenuhstab", @etatcontenuhstab, method: :delete %>
</div>
