<%= form_with(model: mouvementtab) do |form| %>
  <% if mouvementtab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mouvementtab.errors.count, "error") %> prohibited this mouvementtab from being saved:</h2>

      <ul>
        <% mouvementtab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :materieltab_id, style: "display: block" %>
    <%= form.text_field :materieltab_id %>
  </div>

  <div>
    <%= form.label :typemouvementtab_id, style: "display: block" %>
    <%= form.text_field :typemouvementtab_id %>
  </div>

  <div>
    <%= form.label :quantite, style: "display: block" %>
    <%= form.number_field :quantite %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
