<div id="<%= dom_id mouvementtab %>">
  <p>
    <strong>Date:</strong>
    <%= mouvementtab.date %>
  </p>

  <p>
    <strong>Materieltab:</strong>
    <%= mouvementtab.materieltab_id %>
  </p>

  <p>
    <strong>Typemouvementtab:</strong>
    <%= mouvementtab.typemouvementtab_id %>
  </p>

  <p>
    <strong>Quantite:</strong>
    <%= mouvementtab.quantite %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mouvementtab.description %>
  </p>

</div>
