<div id="<%= dom_id comptebanquetab %>">
  <p>
    <strong>Banquetab:</strong>
    <%= comptebanquetab.banquetab_id %>
  </p>

  <p>
    <strong>Codech:</strong>
    <%= comptebanquetab.codech %>
  </p>

  <p>
    <strong>Numerocomptech:</strong>
    <%= comptebanquetab.numerocomptech %>
  </p>

  <p>
    <strong>Ribch:</strong>
    <%= comptebanquetab.ribch %>
  </p>

  <p>
    <strong>Ibanbicch:</strong>
    <%= comptebanquetab.ibanbicch %>
  </p>

  <p>
    <strong>Numerocomptecompletch:</strong>
    <%= comptebanquetab.numerocomptecompletch %>
  </p>

  <p>
    <strong>Employetab:</strong>
    <%= comptebanquetab.employetab_id %>
  </p>

  <p>
    <strong>Pch:</strong>
    <%= comptebanquetab.pch %>
  </p>

</div>
