<p style="color: green"><%= notice %></p>

<%= render @comptebanquetab %>

<div>
  <%= link_to "Edit this comptebanquetab", edit_comptebanquetab_path(@comptebanquetab) %> |
  <%= link_to "Back to comptebanquetabs", comptebanquetabs_path %>

  <%= button_to "Destroy this comptebanquetab", @comptebanquetab, method: :delete %>
</div>
