<%= form_with(model: etatciviltab) do |form| %>
  <% if etatciviltab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(etatciviltab.errors.count, "error") %> prohibited this etatciviltab from being saved:</h2>

      <ul>
        <% etatciviltab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descriptionch, style: "display: block" %>
    <%= form.text_field :descriptionch %>
  </div>

  <div>
    <%= form.label :siglech, style: "display: block" %>
    <%= form.text_field :siglech %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
