<p style="color: green"><%= notice %></p>

<%= render @tauxhorairehstab %>

<div>
  <%= link_to "Edit this tauxhorairehstab", edit_tauxhorairehstab_path(@tauxhorairehstab) %> |
  <%= link_to "Back to tauxhorairehstabs", tauxhorairehstabs_path %>

  <%= button_to "Destroy this tauxhorairehstab", @tauxhorairehstab, method: :delete %>
</div>
