<div id="<%= dom_id signatairetab %>">
  <p>
    <strong>Recteurtitrech:</strong>
    <%= signatairetab.recteurtitrech %>
  </p>

  <p>
    <strong>Recteurprenomch:</strong>
    <%= signatairetab.recteurprenomch %>
  </p>

  <p>
    <strong>Recteurnomch:</strong>
    <%= signatairetab.recteurnomch %>
  </p>

  <p>
    <strong>Recteurcorpsch:</strong>
    <%= signatairetab.recteurcorpsch %>
  </p>

  <p>
    <strong>Recteurdistinctionch:</strong>
    <%= signatairetab.recteurdistinctionch %>
  </p>

  <p>
    <strong>Doyentitrech:</strong>
    <%= signatairetab.doyentitrech %>
  </p>

  <p>
    <strong>Doyenprenomch:</strong>
    <%= signatairetab.doyenprenomch %>
  </p>

  <p>
    <strong>Doyennomch:</strong>
    <%= signatairetab.doyennomch %>
  </p>

  <p>
    <strong>Doyencorpsch:</strong>
    <%= signatairetab.doyencorpsch %>
  </p>

  <p>
    <strong>Doyendistinctionch:</strong>
    <%= signatairetab.doyendistinctionch %>
  </p>

  <p>
    <strong>Chefservicefinancetitrech:</strong>
    <%= signatairetab.chefservicefinancetitrech %>
  </p>

  <p>
    <strong>Chefservicefinanceprenomch:</strong>
    <%= signatairetab.chefservicefinanceprenomch %>
  </p>

  <p>
    <strong>Chefservicefinancenomch:</strong>
    <%= signatairetab.chefservicefinancenomch %>
  </p>

  <p>
    <strong>Chefservicefinancecorpsch:</strong>
    <%= signatairetab.chefservicefinancecorpsch %>
  </p>

  <p>
    <strong>Chefservicefinancedistinctionch:</strong>
    <%= signatairetab.chefservicefinancedistinctionch %>
  </p>

  <p>
    <strong>Agentcomptabletitre ch:</strong>
    <%= signatairetab.agentcomptabletitre_ch %>
  </p>

  <p>
    <strong>Agentcomptableprenom ch:</strong>
    <%= signatairetab.agentcomptableprenom_ch %>
  </p>

  <p>
    <strong>Agentcomptablenom ch:</strong>
    <%= signatairetab.agentcomptablenom_ch %>
  </p>

  <p>
    <strong>Agentcomptablecorps ch:</strong>
    <%= signatairetab.agentcomptablecorps_ch %>
  </p>

  <p>
    <strong>Agentcomptabledistinction ch:</strong>
    <%= signatairetab.agentcomptabledistinction_ch %>
  </p>

  <p>
    <strong>Controlefinanciertitrech:</strong>
    <%= signatairetab.controlefinanciertitrech %>
  </p>

  <p>
    <strong>Controlefinancierprenomch:</strong>
    <%= signatairetab.controlefinancierprenomch %>
  </p>

  <p>
    <strong>Controlefinanciernomch:</strong>
    <%= signatairetab.controlefinanciernomch %>
  </p>

  <p>
    <strong>Controlefinanciercorpsch:</strong>
    <%= signatairetab.controlefinanciercorpsch %>
  </p>

  <p>
    <strong>Controlefinancierdistinctionch:</strong>
    <%= signatairetab.controlefinancierdistinctionch %>
  </p>

</div>
