<p style="color: green"><%= notice %></p>

<%= render @signatairetab %>

<div>
  <%= link_to "Edit this signatairetab", edit_signatairetab_path(@signatairetab) %> |
  <%= link_to "Back to signatairetabs", signatairetabs_path %>

  <%= button_to "Destroy this signatairetab", @signatairetab, method: :delete %>
</div>
