<%= form_with(model: expediteurtab) do |form| %>
  <% if expediteurtab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expediteurtab.errors.count, "error") %> prohibited this expediteurtab from being saved:</h2>

      <ul>
        <% expediteurtab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descriptionch, style: "display: block" %>
    <%= form.text_field :descriptionch %>
  </div>

  <div>
    <%= form.label :servicetab_id, style: "display: block" %>
    <%= form.text_field :servicetab_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
