<p style="color: green"><%= notice %></p>

<%= render @expediteurtab %>

<div>
  <%= link_to "Edit this expediteurtab", edit_expediteurtab_path(@expediteurtab) %> |
  <%= link_to "Back to expediteurtabs", expediteurtabs_path %>

  <%= button_to "Destroy this expediteurtab", @expediteurtab, method: :delete %>
</div>
