<%= form_with(model: materieltab) do |form| %>
  <% if materieltab.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materieltab.errors.count, "error") %> prohibited this materieltab from being saved:</h2>

      <ul>
        <% materieltab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :descriptionch, style: "display: block" %>
    <%= form.text_field :descriptionch %>
  </div>

  <div>
    <%= form.label :familletab_id, style: "display: block" %>
    <%= form.text_field :familletab_id %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
