<div id="<%= dom_id materieltab %>">
  <p>
    <strong>Code:</strong>
    <%= materieltab.code %>
  </p>

  <p>
    <strong>Descriptionch:</strong>
    <%= materieltab.descriptionch %>
  </p>

  <p>
    <strong>Familletab:</strong>
    <%= materieltab.familletab_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= materieltab.description %>
  </p>

</div>
