<div id="<%= dom_id departtab %>">
  <p>
    <strong>Anneech:</strong>
    <%= departtab.anneech %>
  </p>

  <p>
    <strong>Datesch:</strong>
    <%= departtab.datesch %>
  </p>

  <p>
    <strong>Numeroech:</strong>
    <%= departtab.numeroech %>
  </p>

  <p>
    <strong>Arrivetab:</strong>
    <%= departtab.arrivetab_id %>
  </p>

  <p>
    <strong>Referencech:</strong>
    <%= departtab.referencech %>
  </p>

  <p>
    <strong>Objetch:</strong>
    <%= departtab.objetch %>
  </p>

  <p>
    <strong>Redacteurtab:</strong>
    <%= departtab.redacteurtab_id %>
  </p>

  <p>
    <strong>Servicetab:</strong>
    <%= departtab.servicetab_id %>
  </p>

  <p>
    <strong>Attributtab:</strong>
    <%= departtab.attributtab_id %>
  </p>

  <p>
    <strong>Correspondantch:</strong>
    <%= departtab.correspondantch %>
  </p>

  <p>
    <strong>Adressech:</strong>
    <%= departtab.adressech %>
  </p>

  <p>
    <strong>Supporttab:</strong>
    <%= departtab.supporttab_id %>
  </p>

  <p>
    <strong>Tch:</strong>
    <%= departtab.tch %>
  </p>

  <p>
    <strong>Cch:</strong>
    <%= departtab.cch %>
  </p>

</div>
